@font-face{
  font-family: 'Muli-Bold';
  src: url(./assets/fonts/Muli-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-ExtraBold';
  src: url(./assets/fonts/Muli-ExtraBold.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-ExtraLight';
  src: url(./assets/fonts/Muli-ExtraLight.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-Light';
  src: url(./assets/fonts/Muli-Light.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-SemiBold';
  src: url(./assets/fonts/Muli-SemiBold.ttf) format('truetype');
}


*{
  margin: 0;
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url(./assets/slides/hero_img.png);
  background-size: 123%;
  background-repeat: no-repeat;
  background-position: center left;
  width: 100%;
  height: 100vh;
}
.dots{
  position: absolute;
  top: 41vh;
  right: 10vh;
}

.dots span{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 30px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.dots span.active{
  background-color: #ffcd19;
  transition: 0.2s;
}

.menu{
  display: flex;
  flex-basis: 72%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 15%;
}
.brand{
  flex-grow: 1;
}
.links{
  display: flex;
  flex-basis: 60%;
  align-items:center;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:#00b6dc;
}
.hero-text{
  display: flex;
  flex-basis: 72%;
  height: 45%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.hero-text>h1{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  font-size: 47px;
  color: white;
  font-weight: 400;
}
.hero-text, .menu{
  font-family: 'Muli-ExtraLight';
}
.hero-text>h1>span{
  color: #00b6dc;
  font-weight: 400;
  text-align: left;
}
.hero-btns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 72%;
  height: 40%;
}
.navigation{
  flex-basis: 100%;
}
.more, .angel{
  text-align: center;
  font-family: 'Muli-Bold';
  font-size: 11px;
  padding: 1% 4% 1% 4%;
  border-radius: 20px;
  background: white;
  color: black;
  border: white 2px solid;
  transition: 0.2s;
  text-transform: uppercase;
  margin-right: 1%;
  cursor: pointer;
}
.more:hover, .angel:hover{
  background: none;
  color: #00b6dc;
  border: #00b6dc 2px solid;
}
.fa-arrow-left, .fa-arrow-right{
  fill: white;
  width:34px;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
  fill:#ffcd19;
  transition: 0.2s;
}
.content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  max-width: 72%;
  padding-top: 6%;
}
.content__text h1, .player__text h1{
  font-family: "Muli-ExtraBold";
  padding-bottom: 3%;
}
.content__text p, .player__text p{
  font-family: "Muli-SemiBold";
  padding: 3% 0% 3%;
  line-height: 2;
  font-size: 12px;
  text-align: justify;
}
.content__text2{
  padding: 0% 0% 18% 33%;
}
.content__text2 h1{
  font-family: "Muli-ExtraBold";
  padding: 30% 0% 6%;
}
.content__text2 p{
  font-family: "Muli-SemiBold";
  line-height: 2;
  font-size: 12px;
  text-align: justify;
}
.requirements:before{
  content: "\2192";
}
.content__img{
  padding-left: 5%;
}
.content__img > img{
  flex-grow: 1;
}
.content__img2 img:first-of-type{
  position: absolute;
}
.badge{
  position: relative;
}
.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 72%;
  padding: 8% 0% 3%;
}
.player .player__text{
  flex-basis: 44%;
}
.player .player__img{
  flex-basis: 52%;
  min-height: 550px;
  height: 100%;
  position: relative;
}
.player__overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url(./assets/thirdPhoto.png);
  position: absolute;
  width: 100%;
  height: 100%;
}
.video__play{
  position: relative;
  width: 80px;
  height: 80px;
  background: rgba(22, 156, 178, 0.9);
  box-shadow: 0px 0px 0px 13px rgba(22, 156, 178, 0.2);
  border-radius: 50%;
  transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
}
.video__play:after{
  position: relative;
  content: "\25BA";
  color: rgb(22, 156, 178);
  -webkit-text-stroke: 2px black;
  left: 31%;
  top: 23%;
  font-size: 40px;
  z-index: 1;
}
.video__play:hover{
  box-shadow: 0px 0px 0px 25px rgba(22, 156, 178, 0.2);
}
.contact{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding-top: 3%;
  background: #f5f8fa;
  font-family: "Muli-Bold";
}
.contact__title{
  flex-basis: 100%;
  text-align: center;
  line-height: 2;
  font-size: 14px;
}
.contact__inputs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: 25%;
}
.contact__title p:nth-of-type(2){
  color: #7b94a5;
  font-size: 12px;
}
.contact__inputs input:nth-of-type(1), input:nth-of-type(2){
  flex-basis: 45%;
}
.contact__inputs input:nth-of-type(3), textarea:nth-of-type(1){
  flex-basis: 100%;
}