@font-face{
  font-family: 'Muli-Bold';
  src: url(./assets/fonts/Muli-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-ExtraBold';
  src: url(./assets/fonts/Muli-ExtraBold.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-ExtraLight';
  src: url(./assets/fonts/Muli-ExtraLight.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-Light';
  src: url(./assets/fonts/Muli-Light.ttf) format('truetype');
}

@font-face{
  font-family: 'Muli-SemiBold';
  src: url(./assets/fonts/Muli-SemiBold.ttf) format('truetype');
}


*{
  margin: 0;
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url(./assets/slides/hero_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: .4s;
}
.dots{
  position: absolute;
  top: 41vh;
  right: 10vh;
}
.dots span{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 30px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dots span.active{
  background-color: #ffcd19;
  transition: 0.2s;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  position: fixed;
  z-index: 5;
  transition: .4s;
}
.menu{
  display: flex;
  width: 72%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: fixed;
  
}
.mobileMenu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 33%;
  margin-top: -2%;
  background: #001927;
  position: fixed;
  right: 0;
  z-index: 4;
}
.mobileMenu a{
  padding-bottom: 5%;
}
.fa-bars{
  fill: white;
  width: 35px;
  z-index: 5;
}
.fa-times{
  fill: white;
  width: 35px;
  display: none;
  z-index: 5;
}
.scrollMenu{
  margin-top: -2%;
  background-color: #001927;
}
.brand{
  flex-grow: 1;
}
.links{
  display: flex;
  flex-basis: 60%;
  align-items:center;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:#00b6dc;
}
.hero-text{
  display: flex;
  flex-basis: 72%;
  height: 60%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.hero-text>h1{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  font-size: 47px;
  color: white;
  font-weight: 400;
}
.hero-text, .menu{
  font-family: 'Muli-ExtraLight';
}
.hero-text>h1>span{
  color: #00b6dc;
  font-weight: 400;
  text-align: left;
}
.hero-btns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 72%;
  height: 40%;
}
.navigation{
  flex-basis: 100%;
}
.more, .angel{
  text-align: center;
  font-family: 'Muli-Bold';
  font-size: 11px;
  padding: 1% 4% 1% 4%;
  border-radius: 20px;
  background: white;
  color: black;
  border: white 2px solid;
  transition: 0.2s;
  text-transform: uppercase;
  margin-right: 1%;
  cursor: pointer;
}
.more:hover, .angel:hover{
  background: none;
  color: #00b6dc;
  border: #00b6dc 2px solid;
}
.fa-arrow-left, .fa-arrow-right{
  fill: white;
  width:34px;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
  fill:#ffcd19;
  transition: 0.2s;
}
.content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-basis: 72%;
  padding-top: 6%;
}
.content__text{
  flex-basis: 44%;
}
.content__text h1, .player__text h1{
  font-family: "Muli-ExtraBold";
  padding-bottom: 3%;
}
.content__text p, .player__text p{
  font-family: "Muli-SemiBold";
  padding: 3% 0% 3%;
  line-height: 2;
  font-size: 12px;
  text-align: justify;
}
.content__img{
  flex-basis: 52%;
}
.content__img img{
  width: 100%;
}
.content__text2{
  flex-basis: 52%;
}
.content__text2 h1{
  font-family: "Muli-ExtraBold";
  padding: 30% 0% 6%;
}
.content__text2 p{
  font-family: "Muli-SemiBold";
  line-height: 2;
  font-size: 12px;
  text-align: justify;
}
.requirements:before{
  content: "\2192";
}
.content__img2{
  position: relative;
  flex-basis: 44%;
}
.content__img2 img:first-of-type{
  width: 100%;
  position: absolute;
  z-index: 2;
}
.badge{
  position: relative;
  z-index: 2;
}
.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 72%;
  padding: 8% 0% 3%;
}
.player__text{
  flex-basis: 44%;
}
.player__img{
  flex-basis: 52%;
  min-height: 550px;
  height: 100%;
  position: relative;
}
.player__overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url(./assets/thirdPhoto.png);
  position: absolute;
  width: 100%;
  height: 100%;
}
.video__play{
  position: relative;
  width: 80px;
  height: 80px;
  background: rgba(22, 156, 178, 0.9);
  box-shadow: 0px 0px 0px 13px rgba(22, 156, 178, 0.2);
  border-radius: 50%;
  transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
}
.video__play:after{
  position: relative;
  content: "\25BA";
  color: rgb(22, 156, 178);
  -webkit-text-stroke: 2px black;
  left: 31%;
  top: 23%;
  font-size: 40px;
  z-index: 1;
}
.video__play:hover{
  box-shadow: 0px 0px 0px 25px rgba(22, 156, 178, 0.2);
}
.contact{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding: 3% 0% 4vh;
  background: #f5f8fa;
  font-family: "Muli-Bold";
}
.contact__title{
  flex-basis: 100%;
  text-align: center;
  line-height: 2;
  font-size: 14px;
  padding-bottom: 2%;
}
.contact__title p:nth-of-type(2){
  color: #7b94a5;
  font-size: 12px;
}
.contact__inputs{
  flex-basis: 30%;
}
.contact__inputs form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contact__inputs input:not([type=checkbox]), .contact__inputs textarea{
  padding: 13px;
  margin-bottom: 3vh;
  cursor: pointer;
  border: none;
  resize: none;
}
.contact__inputs div:not(.rodo){
  position: relative;
}
.contact__inputs div label:not(.rodo>label){
  position: absolute;
  top: 13px;
  left: 13px;
  color: #7b94a5;
  transition: .5s;
  font-size: 12px;
  pointer-events: none;
}
.contact__inputs div input:focus ~ label,
.contact__inputs div textarea:focus ~ label,
.contact__inputs div input:valid ~ label,
.contact__inputs div textarea:valid ~ label{
  top: 3px;
  font-size: 9px;
}
.rodo label{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  font-size: 10px;
  color: #415f72;
  cursor: pointer;
}
.errorAlert{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-family: "Muli-Bold";
  font-size: 12px;
  padding-bottom: 3vh;
}
.contact__inputs form div:nth-of-type(1):not(.rodoAlert), form div:nth-of-type(2){
  display: flex;
  flex-basis: 47%;
}
.contact__inputs form div:nth-of-type(3), form div:nth-of-type(4){
  display: flex;
  flex-basis: 100%;
}
.contact__inputs form div input:not([type=checkbox]), textarea{
  flex-basis: 100%;
}
input[type=checkbox]{
  display: none;
}
input[type=checkbox] + label:before{
  content:"\2714";
  margin-right: 1%;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 0 0.2em 0 0.2em;
  font-size: 11px;
  font-weight: 600;
  color: transparent;
  transition: .2s;
}
input[type=checkbox]:checked + label:before{
  color: black;
}
.btnSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding-top: 4vh;
}
.btnSubmit a{
  font-family: 'Muli-Light';
  border-radius: 25px;
  border: 2px solid #00b6dc;
  padding: 2% 5% 2% 5%;
  color: white;
  background-color: #00b6dc;
  font-size: 12px;
  transition: .2s;
  cursor: pointer;
}
.btnSubmit a:hover{
  color: #00b6dc;
  background-color: #f5f8fa;
  border-color: #00b6dc;
}
.footer{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  min-height: 300px;
  background-color: #001927;
  color: white;
  font-family: 'Muli-ExtraLight';
  font-size: 12px;
  padding-bottom: 2%;
}
.footer__content{
  display: flex;
  line-height: 2em;
  padding-top: 3%;
  flex-basis: 72%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.map iframe{
  border:0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.footer__title{
  font-family: 'Muli-SemiBold';
  padding-bottom: 0.5em;
}
.footer__address{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.realization{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  font-family: 'Muli-SemiBold';
  height: 5vh;
}
@media(max-width:499px){
  .brand>img{
    width:25%;
  }
  .dots{
    right: 2vh;
  }
  .content{
    flex-direction: column;
    align-items: center;
  }
  .player{
    flex-direction: column;
    align-items: unset;
  }
  .contact__inputs form div{
    flex-basis: 100%!important;
  }
  .badge{
    width:70%
  }
}
@media(max-width:899px){
  .links{
    display: none;
  }
  .hero-text>h1{
    font-size: 26px;
  }
  .more, .angel{
    font-size: 8px;
  }
  .footer__address{
    flex-basis: 40%;
  }
  .footer__links{
    flex-basis: 25%;
  }
  .content{
    flex-basis: 93%;
  }
  .player{
    flex-basis: 93%;
  }
  .contact__inputs{
    flex-basis: 80%;
  }
}
@media(min-width:900px){
.mobileLinks{
  display: none;
}
}